* {

    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    background-color: rgb(135, 146, 229);
    margin: 0;
}
.panel {
    margin: 80px auto 0;
    margin-top: 80px;
    text-align: center;
    width: 314px;
}
.input {
    background-size: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  color: #3e3f4f;
  font-size: 14px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 15px 0 30px;
  width: 300px;

}
.input:focus {
    outline: none;
    border: 3px solid rgba(53, 20, 220, 0.89);
   
}
.btn {
    background: #040b1e;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    margin-top: 20px;
    width: 150px;
}
.btn:hover {
    background-color:  rgba(53, 20, 220, 0.89);
    letter-spacing: 2px;
}
.btn:focus {
    outline: none;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 200px;
}

.element {
    width: 50%;
    height: 50px;
    min-width: 200px;
    background-color: white;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gainsboro;
    transition: all .5s ease;
}
.element:hover{
    color: white;
    color: crimson;
    border: 3px solid rgba(220, 20, 60, 0.89);
}

.hints {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.hints>p {
    color: gray;
}
.hints>p:hover{
    color: rgb(53, 53, 53);
}